:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header  */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.container.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: black;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.site-nav-list,
.auth-nav-list,
.site-nav {
  display: flex;
  align-items: center;
}

.auth-nav-list {
  margin-left: auto;
}

.site-nav-list .item + .item,
.auth-nav-list .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -32px;
  left: 0;
}

.contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.phone,
.mail {
  align-items: center;
  display: flex;
  color: var(--primary-text-color);
}

.icon-smartphone,
.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope:hover,
.icon-smartphone:hover {
  fill: var(--accent-color);
}

/* Body studio */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background: #2f303a;

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  color: var(--title-text-color);
}

.button.service-button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  display: block;
  margin: auto;
  border: none;
}

.list {
  list-style-type: none;
}

/* Values */

.values.section {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.values-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.values-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.main-val {
  display: flex;
}

.list.main-val .values-item + .values-item {
  margin-left: 30px;
}

.values-item {
  width: 270px;
}

.icon-values-bg {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Our services */

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.service-list {
  display: flex;
}

.service-list .item + .item {
  margin-left: 30px;
}

.service-item {
  position: relative;
}

.service-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.service-background {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Our team  */

.member-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.team.section {
  background: #f5f4fa;
}

.list.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-logo {
  display: flex;
  justify-content: center;
}

.item-logo:not(:last-child) {
  margin-right: 10px;
}

.link-logo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-logo:hover,
.link-logo:focus {
  background-color: var(--accent-color);
  fill: var(--white-text-color);
}

/* Our client  */

.client-link {
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  border-radius: 4px;
  color: #afb1b8;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-list {
  display: flex;
  margin-right: -30px;
}

.client-item {
  width: calc(100% / 6 - 30px);
  margin-right: 30px;
}

/* Body portfolio */

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  margin-bottom: 4px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}
.list-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.list-filter .item + .item {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  margin-right: -30px;
}

.item.list-item {
  width: calc(100% / 3 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item.list-item:hover,
.item.list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-background {
  position: relative;
  overflow: hidden;
}

.item.list-item:hover .portfolio-text {
  transform: translate(0);
}

.portfolio-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

/* .list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.list-item:nth-child(3n) {
  margin-right: 0px;
}

.list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* Footer */

.container-footer {
  display: flex;
  align-items: baseline;
}

.contacts.footer {
  color: #ffffff99;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contacts-mail {
  margin-bottom: 9px;
}

.adress {
  color: var(--white-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  display: flex;
}

.main-adress {
  margin-bottom: 9px;
  margin-top: 20px;
}

.logo .web {
  color: var(--accent-color);
}

.logo .studio {
  color: var(--white-text-color);
}

/* Call to action */

.cta-container {
  margin-left: 70px;
  margin-right: 93px;
}

.cta-social-title {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cta-list {
  display: flex;
}

.cta-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-link:last-child {
  margin-right: 10px;
}

.cta-link:hover,
.cta-link:focus {
  background: var(--accent-color);
}

/* Distribution */

.distribution-form {
  display: flex;
}

.distribution-title {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.distribution-mail {
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
}

.distribution-button,
.button-resend {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.distribution-icon {
  margin-left: 10px;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px 40px 40px 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  scale: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: block;
}

.mofal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  background-color: white;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:focus + .modal-svg {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Chekbox */

.label-chekbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.link-chekbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.label-chekbox::before {
  content: "";
  width: 16px;
  height: 15px;
  display: inline-block;
  background-image: url(../images/Block.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 7px;
  border-radius: 2px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .label-chekbox::before {
  width: 16px;
  height: 15px;
  background-color: var(--accent-color);
  background-image: url(../images/Check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  border: none;
}

/* Button */

.button-resend {
  margin: 30px auto 0 auto;
}
