.team {
  &__member {
    @include font(500, 16px, 1.18, 0.03em, null);
    text-align: center;
  }

  &__position {
    @include font(400, 16px, 1.18, 0.03em, null);
    margin-top: 10px;
    text-align: center;
    margin-bottom: 16px;
  }

  &__description {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
  }

  &.section {
    background: #f5f4fa;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__social-list .social-list__link {
    fill: #afb1b8;
  }
}

.list.team__list {
  display: flex;
}

.team__list .item + .item {
  margin-left: 30px;
}
